main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../public/8.jpg');
    background-size: cover;
    background-position: ce;
    flex-direction: column;
    padding-inline: 8rem;
    height: 100vh;
}

p {
    max-width: 100%;
    text-align: center;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

.btn-wrapper {
    align-self: center;
    background-color: red;
    height: 8rem;
}