/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #161616;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .5;
}

.text-block {
    padding-inline: 8rem;
    z-index: 1000;
}

.main-text {
    font-size: 8rem;
}

.tag {
    letter-spacing: 5px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.section-1 {
    background-image: url(../public/bg.jpg);
    background-size: cover;
}

.section-2 {
    background-image: url(../public/2.jpg);
    background-size: cover;
}

.section-3 {
    background-image: url(../public/3.jpg);
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-2 {
    align-items: flex-start;
}

.section p {
    width: 70%;
    font-size: .95rem;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 2rem;
}

.section-3 h3 {
    text-align: center;
    font-size: 4rem;
}

.section-3 p {
    text-align: center;
    width: 90%;
} */